In [1]:
!pip install statsmodels

Requirement already satisfied: statsmodels in ./venv/lib/python3.9/site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in ./venv/lib/python3.9/site-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in ./venv/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in ./venv/lib/python3.9/site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in ./venv/lib/python3.9/site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in ./venv/lib/python3.9/site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

In [26]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler
import statsmodels.api as  sns

In [3]:
df=  pd.read_excel("Date-Wise-Prices-all-Commodity.xlsx")
df.head()

,diffgr:id,msdata:rowOrder,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Table1,0,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 1,FAQ,24/02/2023,4000,4100.0,4000.0
1,Table2,1,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 2,FAQ,24/02/2023,3000,3500.0,3500.0
2,Table3,2,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 3,FAQ,24/02/2023,2300,2300.0,2300.0
3,Table4,3,Andhra Pradesh,Chittor,Punganur,Tomato,Hybrid,FAQ,24/02/2023,1340,2000.0,1670.0
4,Table5,4,Andhra Pradesh,Chittor,Vayalapadu,Tomato,Local,FAQ,24/02/2023,640,2160.0,1400.0

In [4]:
for i in df.columns:
    print(i)

diffgr:id
msdata:rowOrder
State
District
Market
Commodity
Variety
Grade
Arrival_Date
Min_x0020_Price
Max_x0020_Price
Modal_x0020_Price

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   diffgr:id          6435 non-null   object
 1   msdata:rowOrder    6435 non-null   int64
 2   State              6435 non-null   object
 3   District           6435 non-null   object
 4   Market             6435 non-null   object
 5   Commodity          6435 non-null   object
 6   Variety            6435 non-null   object
 7   Grade              6435 non-null   object
 8   Arrival_Date       6435 non-null   object
 9   Min_x0020_Price    6435 non-null   int64
 10  Max_x0020_Price    6435 non-null   float64
 11  Modal_x0020_Price  6435 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 603.4+ KB

In [6]:
df.isnull().sum()

diffgr:id            0
msdata:rowOrder      0
State                0
District             0
Market               0
Commodity            0
Variety              0
Grade                0
Arrival_Date         0
Min_x0020_Price      0
Max_x0020_Price      0
Modal_x0020_Price    0
dtype: int64

In [7]:
x=df.iloc[:,[4,5,6,7,9,10]].values
y=df.iloc[:,-1].values

In [8]:
cat = [c for c in df.columns if type(df[c][1]).__name__ == "str"  and c != "Arrival_Date"]

In [9]:
print(cat)

['diffgr:id', 'State', 'District', 'Market', 'Commodity', 'Variety', 'Grade']

In [10]:
for i in cat:
    print(df[i].unique()[0])

Table1
Andhra Pradesh
Chittor
Chittoor
Gur(Jaggery)
NO 1
FAQ

In [11]:
ln = LabelEncoder()

In [12]:

for i in cat:
    df[i] = ln.fit_transform(df[i])

In [15]:
df['Arrival_Date'] = pd.to_datetime(df['Arrival_Date'])
df.head()

/var/folders/hv/m7d19hld69qb83g8n_7x10tc0000gn/T/ipykernel_49673/923898063.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Arrival_Date'] = pd.to_datetime(df['Arrival_Date'])

,diffgr:id,msdata:rowOrder,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,0,0,0,50,124,85,222,0,2023-02-24,4000,4100.0,4000.0
1,1111,1,0,50,124,85,223,0,2023-02-24,3000,3500.0,3500.0
2,2222,2,0,50,124,85,224,0,2023-02-24,2300,2300.0,2300.0
3,3333,3,0,50,453,166,155,0,2023-02-24,1340,2000.0,1670.0
4,4444,4,0,50,570,166,192,0,2023-02-24,640,2160.0,1400.0

In [16]:
df_cor = df.corr()
df_cor

,diffgr:id,msdata:rowOrder,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
diffgr:id,1.000000,0.536427,0.455479,0.035917,0.018072,0.124802,-0.094891,0.080773,NaN,-0.080050,-0.081905,-0.082154
msdata:rowOrder,0.536427,1.000000,0.953202,-0.057360,-0.035466,0.089472,-0.155221,-0.012831,NaN,-0.052610,-0.059041,-0.056654
State,0.455479,0.953202,1.000000,-0.215786,-0.136969,0.082799,-0.168227,-0.009551,NaN,-0.058012,-0.064089,-0.061864
District,0.035917,-0.057360,-0.215786,1.000000,0.464565,-0.011076,0.040984,0.004834,NaN,0.048504,0.049864,0.049372
Market,0.018072,-0.035466,-0.136969,0.464565,1.000000,-0.009174,0.024392,0.024859,NaN,0.026602,0.027773,0.027199
Commodity,0.124802,0.089472,0.082799,-0.011076,-0.009174,1.000000,0.394052,-0.086877,NaN,-0.057800,-0.055536,-0.056932
Variety,-0.094891,-0.155221,-0.168227,0.040984,0.024392,0.394052,1.000000,0.059050,NaN,0.011300,0.011928,0.012004
Grade,0.080773,-0.012831,-0.009551,0.004834,0.024859,-0.086877,0.059050,1.000000,NaN,0.092676,0.093384,0.092692
Arrival_Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Min_x0020_Price,-0.080050,-0.052610,-0.058012,0.048504,0.026602,-0.057800,0.011300,0.092676,NaN,1.000000,0.997647,0.999323
Max_x0020_Price,-0.081905,-0.059041,-0.064089,0.049864,0.027773,-0.055536,0.011928,0.093384,NaN,0.997647,1.000000,0.999362
Modal_x0020_Price,-0.082154,-0.056654,-0.061864,0.049372,0.027199,-0.056932,0.012004,0.092692,NaN,0.999323,0.999362,1.000000

In [25]:
df.loc[4,'State']

np.int64(0)

In [19]:


threshold = 0.7

row_remove = []
for col in df_cor.columns:
    for row in df_cor.index:
        if col != row and abs(df_cor.loc[row, col]) > threshold:
            print(f"{row} and {col}  {df_cor.loc[row, col]:.3f}")
            
            if row not in row_remove:

                row_remove.append(col)

State and msdata:rowOrder  0.953
msdata:rowOrder and State  0.953
Max_x0020_Price and Min_x0020_Price  0.998
Modal_x0020_Price and Min_x0020_Price  0.999
Min_x0020_Price and Max_x0020_Price  0.998
Modal_x0020_Price and Max_x0020_Price  0.999
Min_x0020_Price and Modal_x0020_Price  0.999
Max_x0020_Price and Modal_x0020_Price  0.999

In [27]:
scaler = StandardScaler()

In [37]:
df_c = df.drop("Arrival_Date", axis=1)
X = df_c.iloc[:,2:10]
y=df_c.iloc[:,-1]
X  = scaler.fit_transform(X)

In [38]:
xx = sns.add_constant(X)
res = sns.OLS(y,xx).fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      Modal_x0020_Price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 5.851e+06
Date:                Fri, 11 Apr 2025   Prob (F-statistic):               0.00
Time:                        01:46:39   Log-Likelihood:                -44904.
No. Observations:                6435   AIC:                         8.983e+04
Df Residuals:                    6426   BIC:                         8.989e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4415.9797      3.238   1363.606      0.000    4409.631    4422.328
x1           -14.0092      3.428     -4.086      0.000     -20.730      -7.288
x2             1.1960      3.716      0.322      0.748      -6.088       8.480
x3            -2.8117      3.662     -0.768      0.443      -9.990       4.366
x4            -9.4590      3.607     -2.622      0.009     -16.531      -2.387
x5            10.3992      3.633      2.863      0.004       3.278      17.521
x6           -10.1455      3.282     -3.091      0.002     -16.580      -3.711
x7          1.091e+04     47.480    229.816      0.000    1.08e+04     1.1e+04
x8          1.126e+04     47.494    237.022      0.000    1.12e+04    1.14e+04
==============================================================================
Omnibus:                    10253.851   Durbin-Watson:                   1.270
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7332281.329
Skew:                          10.267   Prob(JB):                         0.00
Kurtosis:                     167.088   Cond. No.                         29.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""